{
  "openapi": "3.1.0",
  "info": {
    "title": "Castilla LGU Portal — public content API",
    "version": "0.1.0",
    "description": "Public read API for the Municipality of Castilla, Sorsogon. Content the LGU has not confirmed is OMITTED from responses rather than returned as null or as a placeholder string: an absent key means the municipality has not verified that fact."
  },
  "servers": [
    {
      "url": "https://castilla-ebpco.online/api"
    }
  ],
  "paths": {
    "/offices": {
      "get": {
        "summary": "List municipal offices",
        "description": "Returned in the municipality's own order, which groups executive offices first. Not alphabetical.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to one office category. An unknown category is a 400, not an empty list, so a typo is distinguishable from a category with no offices."
          }
        ],
        "responses": {
          "200": {
            "description": "The published offices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficeList"
                }
              }
            }
          },
          "400": {
            "description": "Unknown category",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/officials": {
      "get": {
        "summary": "Elected leadership",
        "description": "The Mayor, Vice Mayor, Sangguniang Bayan members and ex-officio seats the municipality has confirmed. A seat whose holder is not confirmed is OMITTED — the ABC President is currently withheld for that reason.",
        "responses": {
          "200": {
            "description": "The confirmed officials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficialList"
                }
              }
            }
          }
        }
      }
    },
    "/municipality/profile": {
      "get": {
        "summary": "Municipality profile",
        "description": "Ordered profile fields. A field that is a genuine MAGNITUDE also carries `count`, and optionally `countSuffix` and `countDecimals`; formatting the count to that precision and appending the suffix reproduces `value` exactly, so a client may animate the number or print the string and get the same result. Identifiers — ZIP and PSGC codes — carry no count, because counting up to a postal code is meaningless.",
        "responses": {
          "200": {
            "description": "The confirmed profile fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MunicipalityProfile"
                }
              }
            }
          }
        }
      }
    },
    "/offices/{slug}": {
      "get": {
        "summary": "One office in full",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The office",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficeDetail"
                }
              }
            }
          },
          "404": {
            "description": "No office is published with that slug",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OfficeSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "shortDescription": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "slug",
          "name",
          "category",
          "shortDescription"
        ],
        "additionalProperties": false
      },
      "OfficeList": {
        "type": "object",
        "properties": {
          "offices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "category": {
                  "type": "string",
                  "minLength": 1
                },
                "shortDescription": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name",
                "category",
                "shortDescription"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "offices"
        ],
        "additionalProperties": false
      },
      "OfficeDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "shortDescription": {
            "type": "string",
            "minLength": 1
          },
          "aboutText": {
            "type": "string",
            "minLength": 1
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "head": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "position": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "name",
              "position"
            ],
            "additionalProperties": false
          },
          "contact": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "minLength": 1
            }
          },
          "relatedOffices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "issuedPermits": {
            "type": "array",
            "items": {
              "$ref": "#/properties/relatedOffices/items"
            }
          }
        },
        "required": [
          "slug",
          "name",
          "category",
          "shortDescription",
          "aboutText",
          "services",
          "relatedOffices",
          "issuedPermits"
        ],
        "additionalProperties": false
      },
      "Official": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": "string",
            "minLength": 1
          },
          "office": {
            "type": "string",
            "minLength": 1
          },
          "initials": {
            "type": "string",
            "minLength": 1
          },
          "photoUrl": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "slug",
          "name",
          "position",
          "office",
          "initials"
        ],
        "additionalProperties": false
      },
      "OfficialList": {
        "type": "object",
        "properties": {
          "officials": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "position": {
                  "type": "string",
                  "minLength": 1
                },
                "office": {
                  "type": "string",
                  "minLength": 1
                },
                "initials": {
                  "type": "string",
                  "minLength": 1
                },
                "photoUrl": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name",
                "position",
                "office",
                "initials"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "officials"
        ],
        "additionalProperties": false
      },
      "ProfileField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1
          },
          "value": {
            "type": "string",
            "minLength": 1
          },
          "count": {
            "type": "number"
          },
          "countSuffix": {
            "type": "string",
            "minLength": 1
          },
          "countDecimals": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "label",
          "value"
        ],
        "additionalProperties": false
      },
      "MunicipalityProfile": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "value": {
                  "type": "string",
                  "minLength": 1
                },
                "count": {
                  "type": "number"
                },
                "countSuffix": {
                  "type": "string",
                  "minLength": 1
                },
                "countDecimals": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "label",
                "value"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "fields"
        ],
        "additionalProperties": false
      },
      "Problem": {
        "type": "object",
        "description": "RFC 9457 Problem Details.",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ]
      }
    }
  }
}
