{
  "openapi": "3.1.0",
  "info": {
    "title": "Castilla LGU Portal — public content API",
    "version": "0.1.0",
    "description": "Public read API for the Municipality of Castilla, Sorsogon. Content the LGU has not confirmed is OMITTED from responses rather than returned as null or as a placeholder string: an absent key means the municipality has not verified that fact."
  },
  "servers": [
    {
      "url": "https://castilla-ebpco.online/api"
    }
  ],
  "paths": {
    "/offices": {
      "get": {
        "summary": "List municipal offices",
        "description": "Returned in the municipality's own order, which groups executive offices first. Not alphabetical.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to one office category. An unknown category is a 400, not an empty list, so a typo is distinguishable from a category with no offices."
          }
        ],
        "responses": {
          "200": {
            "description": "The published offices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficeList"
                }
              }
            }
          },
          "400": {
            "description": "Unknown category",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/officials": {
      "get": {
        "summary": "Elected leadership",
        "description": "The Mayor, Vice Mayor, Sangguniang Bayan members and ex-officio seats the municipality has confirmed. A seat whose holder is not confirmed is OMITTED — the ABC President is currently withheld for that reason.",
        "responses": {
          "200": {
            "description": "The confirmed officials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficialList"
                }
              }
            }
          }
        }
      }
    },
    "/municipality/profile": {
      "get": {
        "summary": "Municipality profile",
        "description": "Ordered profile fields. A field that is a genuine MAGNITUDE also carries `count`, and optionally `countSuffix` and `countDecimals`; formatting the count to that precision and appending the suffix reproduces `value` exactly, so a client may animate the number or print the string and get the same result. Identifiers — ZIP and PSGC codes — carry no count, because counting up to a postal code is meaningless.",
        "responses": {
          "200": {
            "description": "The confirmed profile fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MunicipalityProfile"
                }
              }
            }
          }
        }
      }
    },
    "/permits": {
      "get": {
        "summary": "The permit catalogue",
        "description": "All 19 permits, grouped by issuing-office group. Each carries its own `confirmationState`: unlike offices and officials, an unconfirmed permit is SERVED with its state attached rather than withheld — all 19 are currently `pending`, and withholding them would publish an empty catalogue and tell a citizen the municipality issues no permits. Grouping reorders relative to the flat catalogue (Zoning sits between engineering permits), but order WITHIN each group is canonical.",
        "responses": {
          "200": {
            "description": "The catalogue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitCatalogue"
                }
              }
            }
          }
        }
      }
    },
    "/permits/{slug}": {
      "get": {
        "summary": "One permit in full",
        "description": "Requirements in published order, validity, an optional process note, and the application form and checklist where the LGU bundles them — 5 of the 19 publish no form, and those omit the key rather than sending a broken link. `issuingOffice.slug` is absent for the two BFP permits: the Bureau of Fire Protection is a national agency with no municipal office page.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The permit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitDetail"
                }
              }
            }
          },
          "404": {
            "description": "No permit is published with that slug",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/forms": {
      "get": {
        "summary": "The bundled application forms",
        "description": "Current revisions only — what a citizen should be filing today. Each carries a sha256 checksum of the bytes exactly as the LGU issued them; these documents are never re-generated, flattened or re-exported.",
        "responses": {
          "200": {
            "description": "Current forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormList"
                }
              }
            }
          }
        }
      }
    },
    "/forms/{familySlug}/revisions": {
      "get": {
        "summary": "Every revision of one form",
        "description": "Newest first. A superseded revision stays retrievable because an application filed on last year's form is still a real application.",
        "parameters": [
          {
            "name": "familySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormRevisions"
                }
              }
            }
          },
          "404": {
            "description": "No such form",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/forms/{familySlug}/download": {
      "get": {
        "summary": "Download a form",
        "description": "The stored bytes, unmodified, with the original filename in Content-Disposition. Public and unauthenticated by design: these are blank forms and gating them defeats the portal. Omit `checksum` for the current revision; pass one to pin an exact revision. A missing form is a JSON 404 — never an HTML page, and never a 200, because a browser that saves an error page as .pdf sends a citizen to the counter with it.",
        "parameters": [
          {
            "name": "familySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pin an exact revision by its sha256."
          }
        ],
        "responses": {
          "200": {
            "description": "The form",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "No such form",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/offices/{slug}": {
      "get": {
        "summary": "One office in full",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The office",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficeDetail"
                }
              }
            }
          },
          "404": {
            "description": "No office is published with that slug",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OfficeSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "shortDescription": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "slug",
          "name",
          "category",
          "shortDescription"
        ],
        "additionalProperties": false
      },
      "OfficeList": {
        "type": "object",
        "properties": {
          "offices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "category": {
                  "type": "string",
                  "minLength": 1
                },
                "shortDescription": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name",
                "category",
                "shortDescription"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "offices"
        ],
        "additionalProperties": false
      },
      "OfficeDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "shortDescription": {
            "type": "string",
            "minLength": 1
          },
          "aboutText": {
            "type": "string",
            "minLength": 1
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "head": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "position": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "name",
              "position"
            ],
            "additionalProperties": false
          },
          "contact": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "minLength": 1
            }
          },
          "relatedOffices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "issuedPermits": {
            "type": "array",
            "items": {
              "$ref": "#/properties/relatedOffices/items"
            }
          }
        },
        "required": [
          "slug",
          "name",
          "category",
          "shortDescription",
          "aboutText",
          "services",
          "relatedOffices",
          "issuedPermits"
        ],
        "additionalProperties": false
      },
      "Official": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": "string",
            "minLength": 1
          },
          "office": {
            "type": "string",
            "minLength": 1
          },
          "initials": {
            "type": "string",
            "minLength": 1
          },
          "photoUrl": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "slug",
          "name",
          "position",
          "office",
          "initials"
        ],
        "additionalProperties": false
      },
      "StoredForm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "familySlug": {
            "type": "string",
            "minLength": 1
          },
          "originalFilename": {
            "type": "string",
            "minLength": 1
          },
          "contentType": {
            "type": "string",
            "minLength": 1
          },
          "byteSize": {
            "type": "integer",
            "exclusiveMinimum": true,
            "minimum": 0
          },
          "pageCount": {
            "type": "integer",
            "exclusiveMinimum": true,
            "minimum": 0
          },
          "checksum": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "revisionLabel": {
            "type": "string",
            "minLength": 1
          },
          "isCurrent": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "familySlug",
          "originalFilename",
          "contentType",
          "byteSize",
          "pageCount",
          "checksum",
          "isCurrent"
        ],
        "additionalProperties": false
      },
      "FormList": {
        "type": "object",
        "properties": {
          "forms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "familySlug": {
                  "type": "string",
                  "minLength": 1
                },
                "originalFilename": {
                  "type": "string",
                  "minLength": 1
                },
                "contentType": {
                  "type": "string",
                  "minLength": 1
                },
                "byteSize": {
                  "type": "integer",
                  "exclusiveMinimum": true,
                  "minimum": 0
                },
                "pageCount": {
                  "type": "integer",
                  "exclusiveMinimum": true,
                  "minimum": 0
                },
                "checksum": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{64}$"
                },
                "revisionLabel": {
                  "type": "string",
                  "minLength": 1
                },
                "isCurrent": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "familySlug",
                "originalFilename",
                "contentType",
                "byteSize",
                "pageCount",
                "checksum",
                "isCurrent"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "forms"
        ],
        "additionalProperties": false
      },
      "FormRevisions": {
        "type": "object",
        "properties": {
          "revisions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "familySlug": {
                  "type": "string",
                  "minLength": 1
                },
                "originalFilename": {
                  "type": "string",
                  "minLength": 1
                },
                "contentType": {
                  "type": "string",
                  "minLength": 1
                },
                "byteSize": {
                  "type": "integer",
                  "exclusiveMinimum": true,
                  "minimum": 0
                },
                "pageCount": {
                  "type": "integer",
                  "exclusiveMinimum": true,
                  "minimum": 0
                },
                "checksum": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{64}$"
                },
                "revisionLabel": {
                  "type": "string",
                  "minLength": 1
                },
                "isCurrent": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "familySlug",
                "originalFilename",
                "contentType",
                "byteSize",
                "pageCount",
                "checksum",
                "isCurrent"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "revisions"
        ],
        "additionalProperties": false
      },
      "PermitSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "confirmationState": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed"
            ]
          }
        },
        "required": [
          "slug",
          "name",
          "description",
          "confirmationState"
        ],
        "additionalProperties": false
      },
      "PermitCatalogue": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "permits": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string",
                        "minLength": 1
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string",
                        "minLength": 1
                      },
                      "confirmationState": {
                        "type": "string",
                        "enum": [
                          "pending",
                          "confirmed"
                        ]
                      }
                    },
                    "required": [
                      "slug",
                      "name",
                      "description",
                      "confirmationState"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "id",
                "label",
                "permits"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "groups"
        ],
        "additionalProperties": false
      },
      "PermitDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "confirmationState": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed"
            ]
          },
          "group": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "label": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "id",
              "label"
            ],
            "additionalProperties": false
          },
          "issuingOffice": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "slug": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "name"
            ],
            "additionalProperties": false
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "validity": {
            "type": "string",
            "minLength": 1
          },
          "processNote": {
            "type": "string",
            "minLength": 1
          },
          "formUrl": {
            "type": "string",
            "pattern": "^\\/assets\\/permits\\/"
          },
          "checklistUrl": {
            "type": "string",
            "pattern": "^\\/assets\\/permits\\/"
          }
        },
        "required": [
          "slug",
          "name",
          "description",
          "confirmationState",
          "group",
          "issuingOffice",
          "requirements",
          "validity"
        ],
        "additionalProperties": false
      },
      "OfficialList": {
        "type": "object",
        "properties": {
          "officials": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "position": {
                  "type": "string",
                  "minLength": 1
                },
                "office": {
                  "type": "string",
                  "minLength": 1
                },
                "initials": {
                  "type": "string",
                  "minLength": 1
                },
                "photoUrl": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "slug",
                "name",
                "position",
                "office",
                "initials"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "officials"
        ],
        "additionalProperties": false
      },
      "ProfileField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1
          },
          "value": {
            "type": "string",
            "minLength": 1
          },
          "count": {
            "type": "number"
          },
          "countSuffix": {
            "type": "string",
            "minLength": 1
          },
          "countDecimals": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "label",
          "value"
        ],
        "additionalProperties": false
      },
      "MunicipalityProfile": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "value": {
                  "type": "string",
                  "minLength": 1
                },
                "count": {
                  "type": "number"
                },
                "countSuffix": {
                  "type": "string",
                  "minLength": 1
                },
                "countDecimals": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "label",
                "value"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "fields"
        ],
        "additionalProperties": false
      },
      "Problem": {
        "type": "object",
        "description": "RFC 9457 Problem Details.",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ]
      }
    }
  }
}
